{% extends "base.html" %}
{% block body %}

<div class='fullscreen'>
	<div>
		<div class='column'>
			<img src='/static/logo.png' id='logo'/>
			<img id='iphones' src='/static/iphonez.png' />
			<h1 id='title'><img src='/static/title.svg' alt='a faster, simpler news reader'/></h1>
			<p>
				<a id='try' href='#'><img src='/static/try.svg'/></a>
			</p>
		</div>
	</div>
</div>

<div class='modal' id='signup-modal' style='display: none'>
	<div>
		<div class='box'>
			<form id='signup'>
				<h4>Join the A1 Beta</h4>
				<p>We're trying to release A1 as slowly and deliberately as possible, learning as much from early users as we can.</p>
				<p>Leave us your email, and we'll be in touch when we're ready to show you A1.</p>
				<p><input type='email' placeholder='email@domain.co.uk' /></p>
				<p><input type='submit'/></p>
			</form>
		</div>
	</div>
</div>

<div class='modal' id='confirm-modal' style='display: none'>
	<div>
		<div class='box'>
			<form id='confirm'>
				<h4>Thanks! We'll be in touch as soon as our beta group has room.</h4>
				<p><input type='submit'/></p>
			</form>
		</div>
	</div>
</div>

<script src='/static/index.js'></script>


{% endblock %}
