{% include "admin_base.html" %}

{% block content %}

<form method='POST' enctype='multipart/form-data'>
	<h1>Edit source <code>{{ source.url }}</code></h1>
	
	<table>
		{% for field in fields %}
			<tr>
				<td>{{ field.name }}</td>
				<td>
					{% if field.type in ('text', 'number') %}
						<input name='{{ field.name }}' value='{{ field.value }}'/>
					{% elif field.type == 'file_url' %}
						<input type=file name='{{ field.name }}'>
						{% if field.value %}
							{% if field.image %}
								<img src='{{ field.value }}' />
							{% else %}
								<a href='{{ field.value }}'>File</code>
							{% endif %}
						{% endif %}
					{% else %}
						{{ field.value }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	
	<input type='submit'>
	
</form>

{% endblock %}
