{% include "admin_base.html" %}

{% block content %}

<form method='POST'>
	<h1>Upload source search entries</h1>
	<p>JSON:</p>
	<input type=hidden name=action value=upload_sites >
	<p><textarea name='json' style='width: 50%; height: 300px'></textarea></p>
	<p><input type=submit /></p>
</form>

<form method='POST'>
	<h1>Import existing sources</h1>
	<input type=hidden name=action value=add_existing_sources >
	<p>Offset: <input name=offset value=0 ></p>
	<p><input type=submit></p>
</form>

{% endblock %}
