{% extends "admin_base.html" %}

{% block content %}

        <form method=POST action='/subscriptions/add'>
            <h1>Test subscribe</h1>
            <input name=url placeholder=url>
            <input name=uid placeholder=uid>
            <input type=submit>
        </form>
        <form method=POST>
            <h1>Test source fetch</h1>
            <input name=url>
            <input type=hidden name=test value=source>
            <p><input type=radio name=type value=content checked>Result content</p>
            <p><input type=radio name=type value=json>Source JSON</p>
            <input type=submit>
        </form>
        <form method=POST action='/subscriptions/delete'>
            <h1>Test unsubscribe</h1>
            <input name=url placeholder=url>
            <input name=uid placeholder=uid>
            <input type=submit>
        </form>
        <form method=POST action='test/article_fetch'>
            <h1>Test article fetch</h1>
            <input name=url placeholder=url>
            <p><input type=radio name=type value=default checked>Default json</p>
            <p><input type=radio name=type value=html>Extracted HTML</p>
            <p><input type=radio name=type value=article_json>Article JSON</p>
            <input type=submit>
        </form>
        <form method=POST action='bookmarks'>
            <h1>Bookmark</h1>
            <input name=article_url type=url placeholder=article_url>
            <input name=uid placeholder=uid>
            <input type=submit>
        </form>
        <form method=POST action='/admin/reschedule_source_fetches'>
            <h1>Reschedule source fetches</h1>
            <!--<p>Make sure to clear the <em>sources</em> queue in the AppEngine dashboard <a href='https://console.cloud.google.com/appengine/taskqueues/sources?project=fast-news&moduleId=default'>here</a> first.</p>-->
            <input type=submit>
        </form>
        <form method=POST action='/admin/reschedule_feed_refresh'>
            <h1>Reschedule feed refresh</h1>
            <!--<p>Make sure to clear the <em>feeds</em> queue in the AppEngine dashboard <a href='https://console.cloud.google.com/appengine/taskqueues/feeds?project=fast-news&moduleId=default'>here</a> first.</p>-->
            <input type=submit>
        </form>
        <form method=POST action='/admin/purge_source'>
            <h1>Purge source</h1>
            <input type=url name=url placeholder='Source URL'/>
            <input type=submit>
        </form>
        <form method=POST action='/tasks/feeds/update'>
            <h1>Update feed</h1>
            <input type=text name=uid placeholder='uid'/>
            <input type=submit>
        </form>

{% endblock %}
