@import 'https://fonts.googleapis.com/css?family=Raleway:400,600';

html, body {
	font-family: "Raleway", "Helvetica Neue", "HelveticaNeue", "Helvetica", sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color: #ECEBEB;
	height: 100%;
}
.column {
	margin: auto;
	padding: 20px;
	max-width: 800px;
}
.fullscreen {
	display: table;
	width: 100%;
	height: 100%;
}
.fullscreen > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#logo {
	position: absolute;
	left: 3vw;
	top: 3vw;
	width: 10vw;
	height: 10vw;
}
#iphones {
	width: 100%;
}
#title img {
	max-width: 100%;
}
h1 {
	margin: 0;
}

input {
	width: 200px;
	border: 2px solid black;
	appearance: none;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	font-size: 1em;
	box-sizing: border-box;
	font-family: inherit;
}

input[type=submit] {
	background-color: black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: table;
	z-index: 10;
}
.modal > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.modal .box {
	display: inline-block;
	background-color: white;
	padding: 1em 2em;
	text-align: center;
	width: 80%;
	max-width: 400px;
}

.box input {
	width: 100%;
}

h4 {
	text-transform: uppercase;
}
